LibraryManagement2/LibraryManagement2/Web.config
LibraryManagement2/LibraryManagement2/Models/ModelDB.edmx
LibraryManagement2/LibraryManagement2/Models/ModelDB.Designer.cs
LibraryManagement2/LibraryManagement2/Models/ModelDB.Context.cs
*.dll
LibraryManagement2/LibraryManagement2.Tests/bin/Debug/ApplicationInsights.config
LibraryManagement2/LibraryManagement2/Web.config
LibraryManagement2/LibraryManagement2/obj/Debug/TempPE/Models.ModelDB.cs.dll
LibraryManagement2/.vs/config/applicationhost.config
LibraryManagement2/.vs/config/applicationhost.config
LibraryManagement2/LibraryManagement2/Web.config
LibraryManagement2/LibraryManagement2/Web.config
LibraryManagement2/LibraryManagement2/Views/Managers/Create.cshtml
LibraryManagement2/.vs/config/applicationhost.config
LibraryManagement2/LibraryManagement2/obj/Debug/TempPE/Models.ModelDB.Designer.cs.dll
LibraryManagement2/LibraryManagement2/obj/Debug/LibraryManagement2.dll
LibraryManagement2/LibraryManagement2/bin/LibraryManagement2.dll
*.config
LibraryManagement/LibraryManagement/Web.config
LibraryManagement/LibraryManagement/Web.config
LibraryManagement/LibraryManagement/Web.config
LibraryManagement/LibraryManagement/Web.config
*.config
*.config